<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Chime Forex Trading Team</title>
</head>
<body>
    <div style="font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; padding: 20px; background-color: #f4f4f4;">
        <div style="text-align: center;">
            <img src="https://www.chimetrading.com/static/media/chimeLogo.baa99be4f50ea93f9ff9.jpeg" alt="Chime Forex Trading Logo" style="max-width: 150px; border-radius: 25%; margin-bottom: 20px;">
        </div>
        <h2 style="color: rgb(27, 30, 61); text-align: center;">Welcome to Chime Forex Trading Team</h2>
        <p style="color: #333;">Dear {{first_name}},</p>
        <p style="color: #333;">Welcome aboard to the Chime Forex Trading Team! We are thrilled to have you join us as part of our esteemed administrative team. Your expertise and skills will undoubtedly contribute significantly to our mission and goals.</p>
        <p style="color: #333;">As a new admin, you now have access to a range of tools and resources to streamline your workflow and enhance your productivity. Please take some time to familiarize yourself with our systems and protocols. Should you have any questions or need assistance, do not hesitate to reach out to our support team.</p>
        <p style="color: #333;">We are looking forward to your valuable contributions and success with us. Together, we can achieve great things in the world of forex trading.</p>
        <p style="color: #333;">Best regards,<br>The Chime Forex Trading Team</p>
    </div>
</body>
</html>
